@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6 text-right">
            <h1 class="text-center">الموقع القضائي الأول بسوريا</h1>
            <p>موقع مختص للقيام بالقضايا الالكترونية عن بعد وبدون التواجد المكاني من داخل وخارج الجمهورية العربية السورية</p>
            <p>مجموعة كبيرة من الميزات التي ستكون متاحة لك عند تنفيذ معاملاتك عن طريق الموقع</p>
            <ul>
                <li>نفذ كامل معاملاتك عن بعد</li>
                <li>كن على اطلاع على مراحل سير طلبك</li>
                <li>امكانية تسديد الرسوم عن بعد</li>
                <li>تقديم الطلبات بطريقة سهلة </li>
                <li>لا داعي لطوابير الانتظار بعد اليوم</li>
                <li>احمي نفسك من الامراض المنتشرة</li>
            </ul>
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">انشاء حسابك الأن</a>
        </div>
    </div>
</div>