@model CourtHouse.Data.ViewModels.VMRealty
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManger
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>VMRealty</h4>
<hr />
<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="area" class="control-label"></label>
                <input asp-for="area" class="form-control" />
                <span asp-validation-for="area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regionSelect" class="control-label"></label>
                <input asp-for="regionSelect" class="form-control" />
                <span asp-validation-for="regionSelect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="info" class="control-label"></label>
                <input asp-for="info" class="form-control" />
                <span asp-validation-for="info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="realtyType" class="control-label"></label>
                <input asp-for="realtyType" class="form-control" />
                <span asp-validation-for="realtyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adress" class="control-label"></label>
                <input asp-for="adress" class="form-control" />
                <span asp-validation-for="adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="theFinancialValue" class="control-label"></label>
                <input asp-for="theFinancialValue" class="form-control" />
                <span asp-validation-for="theFinancialValue" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isChecked" /> @Html.DisplayNameFor(model => model.isChecked)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->
<div class="container-fluid text-right">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class=" col-lg-5">
            <label asp-for="id">رقم العقار</label>
            <input asp-for="id" class="form-control" readonly />
            <span asp-validation-for="id" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="realtyType">نوع العقار</label>
            <select asp-for="realtyType" class="form-control">
                <option value="شرعي">شرعي</option>
                <option value="أميري">أميري</option>
                <option value="أميري وشجر ملك">أميري وشجر ملك</option>
            </select>
            <span asp-validation-for="realtyType" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="regionSelect">المحافظة</label>

            <select asp-for="regionSelect" class="form-control" asp-items="@(new SelectList(Model.regionList, "id", "regionName"))" >
                <option value="-1">--إختر المحافظة--</option>
            </select>
            <span asp-validation-for="regionSelect" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="area">منطقة العقار</label>
            <input asp-for="area" class="form-control"  />
            <span asp-validation-for="area" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="theFinancialValue">القيمة التقديرية للعقار</label>
            <input asp-for="theFinancialValue" class="form-control"  />
            <span asp-validation-for="theFinancialValue" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="adress">العنوان</label>
            <input asp-for="adress" class="form-control"  />
            <span asp-validation-for="adress" class="text-danger"></span>
        </div>
        <div class="col-lg-5">
            <label asp-for="info">معلومات</label>
            <input asp-for="info" class="form-control"  />
            <span asp-validation-for="info" class="text-danger"></span>
        </div>
<hr />
<div class="row">
    <div class="col-12">
        <input type="submit" value="Create" class="btn btn-primary" />
        <input asp-for="id" style="display:none;" />
        <a asp-action="Index" class="btn btn-warning">cansel</a>
    </div>
</div>
    </form>
</div>

